@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lembre-se</h1>
    <p>Não existe mágica! Para manter o peso dentro dos valores desejáveis a melhor opção 
        é ter uma alimentação balanceada e praticar atividades físicas regularmente.</p>
</div>
